*{
    padding: 0%;
    margin: 0%;
}
   
body {
    margin: 0;
    padding: 0;
    background: #212121;
}

header{
    display: flex;
    flex-direction: column;   
    border: black;
}

header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 100px;
}
header li{
    display: inline;
    margin-right: 4vw;
}

h1{
    font-size:50px;
    margin: 15px 60px;
}

.nav_button {
    margin: -40px;
    margin-left: 5px;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255);
    --animation-color: #44ffc7;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    outline: none;
}

.hovertext {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.nav_button:hover .hovertext {
    width: 100%;
    filter: drop-shadow(0 0 20px var(--animation-color))
}

.nav_button_s {
    margin: -40px;
    margin-left: 5px;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255);
    --animation-color: #44ffc7;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    outline: none;
}

.hovertext {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.nav_button_s .hovertext {
    width: 100%;
    filter: drop-shadow(0 0 20px var(--animation-color))
}


a{
    text-decoration: none;
}

nav {
    border-bottom: 1px solid white;
  }


h2{
    color: aliceblue; 
    font-size: 60px;
    align-items: center;
    justify-content: center;
    margin: 20px 100px;
}

h3{
    color: aliceblue; 
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin: 20px 100px;
}

p{
    align-items: center;
    justify-content: center;
    margin: 20px 140px;
}

.b {
    font-size: 30px;
    text-decoration: none;
    position: relative;
    color: aliceblue;
    transition: color 0.25s ease-out;
}

.b:hover{
    color: #44ffc7;
}
  
.b::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #44ffc7;
    left: 0;
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.b:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Thanks{
    margin: 10px 10px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    font-size: 25px;
}